body{
  font-family: 'Lato', arial, sans-serif;
  color: #434343;
  background: #DAE3E7;
  font-size: 16px;
}
img{
  top: 0;
  border-radius: 50%;
  margin-right: 30px;
  height: 160px;
  width: 150px;
  float: left;
}
.jumbotron{
  padding: 30px 0;
  background: #f5f5f5;
  border-top: 10px solid #778492;
}
.name{
  color: #49515a;
  font-size: 38px;
  margin-bottom: 5px;
  margin-top: 30px;
}
 .dsc{
  color: #778492;
  font-family: "Lato", arial, sans-serif;
  font-weight: 400;
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 15px;
}
.social a{
  background: #b0b7bf;
  width: 36px;
  height: 36px;
  display: inline-block;
  border-radius: 50%;
  background-clip: padding-box;
  color: #fff;
  text-align: center;
  font-size: large;
}
.social a:hover {
  background: #778492;
}
.social a .fab {
  font-size: 20px;
  margin-top: 8px;
}
.social a .fas {
  font-size: 20px;
  margin-top: 8px;
}
.sections-wrapper {
  padding-top: 60px;
  padding-bottom: 60px;
}
.section {
  margin-bottom: 30px;
}

.section .section-inner {
  background: #fff;
  padding: 30px;
}
.section .heading {
  margin-top: 0;
  margin-bottom: 30px;
  color: #545e69;
  font-size: 24px;
}
.education .item .title {
  font-size: 16px;
  margin-top: 0;
  color: #778492;
  font-weight: bold;
}

.education .item .university {
  font-family: "Lato", arial, sans-serif;
  font-size: 13px;
  color: #999;
  font-weight: 600;
  padding-left: 25px;
}

.education .item .university .year {
  color: #b0b7bf;
  font-weight: 500;
}
.skill .item .skill-list{
  list-style-type: none;
  color: #778492;
  font-size: larger;
}

.skill .item .skill-list li{
 margin: 5px;
}
.experience .item .title {
  font-size: 20px;
  margin-top: 0;
  color: #778492;
  font-weight: bold;
}
.experience .item .year {
  color: #b0b7bf;
  font-weight: 500;
}
.experience .item .place {
  color: #b0b7bf;
  font-weight: 500;
}
.experience .item  p{
  margin-bottom: 200px;
}

.language .item .language-list{
  list-style-type: none;
  color: #778492;
  font-size: larger;
}
.language .item .language-list li{
  margin-top: 7px;
 }
 .language .item .language-list .level{
  color: #999;
 }
.contact .content .title{
  font-size: 20px;
  margin-top: 0;
  color: #778492;
  font-weight: bold;
}
.contact .content .address{
  font-size: 18px;
  color: #999;
}
@media (max-width: 767.98px) {
  
.profile-image {
    float: none ;
    margin: 0 auto;
  }
.profile-content {
    float: none ;
    text-align: center;
  }

}

@media (min-width: 1400px) {
  .container {
    width: 1360px;
    max-width: inherit;
  }
}