body{
  font-family: 'Lato', arial, sans-serif;
  color: #434343;
  background: #DAE3E7;
  font-size: 16px;
}
.jumbotron{
  padding: 30px 0;
  background: #f5f5f5;
  border-top: 10px solid #778492;
}
.name{
  color: #49515a;
  font-size: 38px;
  margin-bottom: 5px;
  margin-top: 30px;
}
 .dsc{
  color: #778492;
  font-family: "Lato", arial, sans-serif;
  font-weight: 400;
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 15px;
}
.social a{
  background: #b0b7bf;
  width: 36px;
  height: 36px;
  display: inline-block;
  border-radius: 50%;
  background-clip: padding-box;
  color: #fff;
  text-align: center;
  font-size: large;
}
.social a:hover {
  background: #778492;
}
.social a .fab {
  font-size: 20px;
  margin-top: 8px;
}
.social a .fas {
  font-size: 20px;
  margin-top: 8px;
}
.sections-wrapper {
  padding-top: 60px;
  padding-bottom: 60px;
}
.section {
  margin-bottom: 30px;
}

.section .section-inner {
  background: #fff;
  padding: 30px;
}
.section .heading {
  margin-top: 0;
  margin-bottom: 30px;
  color: #545e69;
  font-size: 24px;
}